@charset "ISO-8859-1";

.card-content .btn{
	margin:2px;
}

div.card.user-card div.card-content {
	padding: 5px;	
}

div.card.user-card div.card-content button{
	margin: 2px;
}

body {
	font-size: 13px !important;
}

